# Executables
*.exe
*.obj
*.ll
*.meta

# Node.js
node_modules/
npm-debug.log

# Deno
.deno/

# IDE
.vscode/
.idea/

# Compiler Build artifacts
dist/
build/

# Temporary test files
test_*.ts
test_*.tsn
!test_class.ts
!test_struct_vs_class.ts
!test_namespace.ts
!test_enum.ts
!test_ts.ts

# Logs
*.log

# Standard Library
!src/std/
!test_option.tsn
!test_string_utf8.tsn
!test_string_includes.tsn
!test_string_search.tsn
!test_ptr.tsn
!test_rawptr.tsn